/* font-family: 'Hind',sans-serif;
font-family: 'Montserrat',sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 130%;
}

:root {
    --primary-color: #ff1e21;
    --secondary-color: #12FFd9;
    --tertiary-color: #78FF2B;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}



h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

p {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}

/* TEMP HOMEPAGE */

.home-container {
    background: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.home-container .home-circle {
    height: 15rem;
    width: 15rem;
    border: 0.7rem double var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: animate1 12s ease-in-out;
}

@keyframes animate1 {

    /*these percentages are in relation to the time of 5s*/
    20% {
        border-color: #FC03F3;
    }

    40% {
        border-color: #01fef8;
    }

    60% {
        border-color: #b3ff00;
    }

    80% {
        border-color: #ff7400;
    }
}

.home-container .home-circle h1 {
    color: var(--secondary-color);
}



/* RESUME */

/* 2 flex-containers */

.resume-background-container {
    background-color: whitesmoke;
    padding: 1rem;
}

.resume-background-container h1 {
    color: #555;
    font-size: 3.75rem;
    text-align: center;
}

.resume-background-container h2 {
    color: #555;
    font-size: 2.75rem;
    text-align: center;
    padding-bottom: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    flex-wrap: wrap;
    /*wrap so they STACK on smaller screens, else they just shrink by default */
}

.item {
    background: #fff;
    /* border: #ccc solid 0.5px; */
    margin: 0.7rem;
    padding: 0.7rem;
    color: #555;
}

.item h3 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
}

.item ul {
    margin: 0.7rem 0;
}

.item ul li {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    margin-left: 1rem;
}

.item-1 {
    width: 21rem;
    /*now this doesnt shrink*/
}

.item-2 {
    width: 42rem;
}

p.heading {
    color: #555;
    font-weight: bold;
    margin: 0.5rem 0;
}

p.date {
    margin-bottom: 0.5rem;
}

a.list-courses {
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--tertiary-color));
    color: #fff;
    padding: 0.4rem;
    text-decoration: none;
    border-radius: 2px;

}

.item h3 i.fas {
    background: -webkit-linear-gradient(#FF5612, #E82F10, var(--primary-color), #E81080, #FD12FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.bold {
    font-weight: bold;
}